@model IEnumerable<OnlineBank.Models.Deposit>
@{
    //ViewData["Title"] = "Deposit";

}

<!DOCTYPE>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Депозиты</title>
 </head>
 <body>
    <h3>Депозиты</h3>
    @foreach (var deposit in Model)
    {
        @deposit.Name
        @deposit.Percent
        <br />
    }
</body>
</html>