@model IEnumerable<OnlineBank.Models.Deposit>
@{
    //ViewData["Title"] = "Deposit";

}

<!DOCTYPE>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Мои вклады</title>
 </head>
 <body>
    <h3>Мои вклады</h3>
    @foreach (var deposit in Model)
    {
        @if(deposit != null)
        {
            @deposit.Name
            @deposit.Percent
            <br />
        }
        else
        {
            <span>У вас пока нет вкладов</span>
        }

    }
</body>
</html>