html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border-collapse: collapse;
    border: 2px solid white;
    width: 100%;
    margin: auto;
}
/* границы €чеек первого р€да таблицы */
th {
    border-bottom: 0.4px solid #D3D3D3;
}
/* границы €чеек тела таблицы */
td {
    border-bottom: 0.4px solid #D3D3D3;
}

td,th{
    padding:25px;
}

tr:nth-child(even) {
    background-color: #DCDCDC;
}